@import './menu/menu.scss';

.header {
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  height: 100%;
  min-height: 600px;
  max-height: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header-content {
  flex: 3;
  display: flex;
  width: 1100px;
  margin: 0 auto;
  color: $colorWhite;

  > .content-center {
    width: 100%;
    margin: auto 0;

    > h1 {
      font-size: 72px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;

      @media (max-width: 1100px) {
        font-size: 46px;
        text-align: center;
        width: 100%;
      }

      @media (max-width: 500px) {
        font-size: 30px;
      }
    }

    > h2 {
      font-size: 24px;
      font-weight: 300;
      margin: 3px 0 0 3px;
      padding: 0 10px 0 10px;

      @media (max-width: 500px) {
        font-size: 18px;
        margin-top: 10px;
      }
    }

    > .button-popup {
      width: 252px;
      margin-top: 44px;
      line-height: 46px;
      font-size: 14px;
      text-transform: uppercase;
      border: solid 2px $orange;
      border-radius: 12px 0 12px 0;
      text-align: center;
      color: $orange;
      cursor: pointer;
      transition: transform 0.1s;

      &:hover {
        transform: scale(1.1);
      }

      @media (max-width: 1100px) {
        margin: 70px auto;
      }
    }

    @media (max-width: 1100px) {
      text-align: center;
    }
  }

  @media (max-width: 1100px) {
    width: 100%;
    flex: 1;
    margin-top: 60px;
  }
}

.header-bottom {
  width: 1200px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  flex: 1;
  color: $colorWhite;
  display: flex;

  > .bottom-info {
    margin: auto auto;

    > span:nth-child(1) {
      font-size: 38px;
      float: left;
      margin-right: 10px;
      line-height: 40px;
      font-weight: 700;

      @media (max-width: 1150px) {
        line-height: 55px;
      }
    }

    > span:nth-child(2),
    > span:nth-child(3) {
      margin-top: 2px;
      font-size: 14px;
      float: left;
    }

    @media (min-width: 1150px) {
      flex: 1;
    }

    @media (max-width: 1150px) {
      width: 290px;
    }
  }

  @media (max-width: 850px) {
    > .bottom-info:nth-child(1) > span:nth-child(1) {
      padding-left: 70px;
    }

    > .bottom-info:nth-child(2) > span:nth-child(1) {
      padding-left: 28px;
    }

    > .bottom-info:nth-child(3) > span:nth-child(1) {
      padding-left: 0;
    }
  }

  @media (max-width: 1210px) {
    width: 100%;
  }

  @media (max-width: 850px) {
    flex-direction: column;
  }
}
